
<div>
  <% if user_signed_in? %>
    <p>Welcome <%= current_user.email %> !</p>
  <% else %>
    <p>Sorry, you are nobody</p>
    <p>You can only view the content of the post</p>
  <% end %>
</div>

<div>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h4><%= post.title %></h4>
        <p><%= post.body %></p>
        <p>Author: <%= user_signed_in? ? post.user.email : "REDACTED" %></p>
      </li>
    <% end %>
  </ul>
</div>